Django==1.7.3
MySQL-python==1.2.5
distribute==0.6.28
dj-database-url==0.3.0
dj-static==0.0.5
git-remote-helpers==0.1.0
ipdb==0.7
ipython==0.13.2
redis==2.9.0
requests==2.1.0
requests-oauthlib==0.3.3
rq==0.3.13
static==0.4
stevedore==0.12
times==0.6.2
virtualenv==1.8.2
virtualenv-clone==0.2.4
virtualenvwrapper==3.6
waitress==0.8.9
whitenoise==1.0.6
wsgiref==0.1.2
psycopg2==2.5.3
